@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  background: #222222;

  overflow: hidden;
}

input {
  width: 250px;
  height: 30px;
  border: none;
  border-bottom: 1px solid whitesmoke;
  background: none;
  color: whitesmoke;
  padding: 0 5px;
  outline: none;
}

.btn-add {
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: none;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  outline: none;
  margin-left: 10px;
}

.btn-add:hover {
  cursor: pointer;
  background: whitesmoke;
  color: #222222;
}

.todoItem {
  position: absolute;
  cursor: move;
  min-width: 200px;
  max-width: 200px;
  color: black;
  padding: 2em;
  background: whitesmoke;

  word-wrap: break-word;
}

.delete {
  position: absolute;
  right: 1em;
  top: 1em;

  background: none;
  outline: none;
  border: none;
  cursor: pointer;

  font-weight: 900;
  font-size: 18px;
}

.delete:hover {
  color: whitesmoke;
}
